<header id="header">
  <a href="/" class="logo">
    <strong>{{ config.social.header.main }}</strong> {{ config.social.header.sub }}</a
  >

  <ul class="icons">
    {% if config.social.facebook %}
    <li>
      <a href="{{ config.social.facebook }}" class="icon brands fa-facebook-f">
        <span class="label">Facebook</span></a
      >
    </li>
    {% endif %}
  </ul>
</header>
