---
layout: "base.njk"
---

<section id="banner">
  <div class="content">
    <header>
      <h1>{{ heroHeader }}</h1>
      <p>{{ heroHeaderCaption }}</p>
    </header>
    <p>{{ heroDescription }}</p>
    {% if heroLink %}
    <ul class="actions">
      <li><a href="{{ heroLink }}" class="button big">{{ heroLinkText }}</a></li>
    </ul>
    {% endif %}
  </div>
  <span class="image object">
    <img src="{{ heroImage }}" alt="{{ heroImageAlt }}" />
  </span>
</section>

{% if showFeatures %}
<section>
  <header class="major">
    <h2>{{featuresHeader}}</h2>
  </header>
  <div class="features">
    {% for feature in collections.homeFeatures %}
    <article>
      <span class="icon {{ feature.data.icon }}"></span>
      <div class="content">
        <h3>{{ feature.data.title }}</h3>
        <p>{{ feature.templateContent | safe }}</p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endif %} {% if showFeaturedPages %}
<section>
  <header class="major">
    <h2>{{ featuredPagesHeader }}</h2>
  </header>
  <div class="posts">
    {% for page in (collections.pages | featuredPages) %}
    <article>
      <a href="{{ page.url }}" class="image"
        ><img src="{{ page.data.image }}" alt=""
      /></a>
      <h3>{{ page.data.title }}</h3>
      <p>{{ page.data.excerpt }}</p>
      <ul class="actions">
        <li><a href="{{ page.url }}" class="button">Citeste</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
{% endif %}
