<nav id="menu">
  <header class="major">
    <h2>{{ config.sidebar.menuHeader }}</h2>
  </header>
  <ul>
    <li><a href="/">{{ config.sidebar.homeMenuItemText }}</a></li>
    {% for page in (collections.pages | eleventyNavigation) %}
    <li>
      {% if page.children.length > 0 %}
      {% menuLink page, collections.pages %}
      <ul>
        {% for child in page.children %}
        <li>
          {% if child.children.length > 0 %}
          {% menuLink child, collections.pages %}
          <ul>
            {% for subchild in child.children %}
            <li><a href="{{ subchild.url }}">{{ subchild.title }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <a href="{{ child.url }}">{{ child.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <a href="{{ page.url }}">{{ page.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
