<nav id="menu">
  <header class="major">
    <h2>Meniu</h2>
  </header>
  <ul>
    <li><a href="/">Acasa</a></li>
    {% for page in (collections.pages | eleventyNavigation) %}
    <li>
      {% if page.children.length > 0 %}
      <span class="opener">{{ page.title }}</span>
      <ul>
        {% for child in page.children %}
        <li><a href="{{ child.url }}">{{ child.title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <a href="{{ page.url }}">{{ page.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
