---
layout: "base.njk"
---

<section>
  {% breadcrumbs title, eleventyNavigation.parent, collections.pages %}
  <header class="main">
    <h1>{{ title }}</h1>
  </header>
  <span class="image main"> {% fileViewer file, fileAlt %} </span>
  {% set navigationKey = eleventyNavigation.key %}
  {% if showSubPages %}
  <ul>
    {% pagechildren collections.pages, navigationKey %}{% raw %}
      <li><a href="{{ child.page.url }}">{{ child.title }}</a></li>
    {% endraw %}{% endpagechildren %}
  </ul>
  {% endif %}
  {{ content | safe }}
  {% if googleDriveFolderID %}
  <iframe src="https://drive.google.com/embeddedfolderview?id={{ googleDriveFolderID }}#list" style="width:100%; height: 80vh; border:0;"></iframe>
  {% endif %}
</section>
