---
layout: "base.njk"
---

<section>
  <header class="main">
    <h1>{{ title }}</h1>
  </header>
  <span class="image main"> {% fileViewer file, fileAlt %} </span>
  {{ content | safe }}
</section>
