<div id="sidebar">
  <div class="inner">
    {# {% include 'search.njk' %} #} {% include 'menu.njk' %} {% if
    collections.sidebarFeatures.length > 0 %}
    <section>
      <header class="major">
        <h2>{{ config.sidebar.featuresTitle }}</h2>
      </header>
      <div class="mini-posts">
        {% for feature in collections.sidebarFeatures %}
        <article>
          <a href="{{ feature.data.url }}" class="image">
            <img src="{{ feature.data.image }}" alt="{{ feature.data.imageAlt }}" />
          </a>
          <p>{{ feature.templateContent | safe }}</p>
        </article>
        {% endfor %}
      </div>
    </section>
    {% endif %}

    <section>
      <header class="major">
        <h2>{{ config.sidebar.contact.header }}</h2>
      </header>
      <p>{{ config.sidebar.contact.description | safe }}</p>
      <ul class="contact">
        {% if config.sidebar.contact.email %}
        <li class="icon solid fa-envelope">
          <a href="mailto:{{ config.sidebar.contact.email }}"
            >{{ config.sidebar.contact.email }}</a
          >
        </li>
        {% endif %} {% if config.sidebar.contact.phone %}
        <li class="icon solid fa-phone">
          <a href="tel:{{ config.sidebar.contact.phone }}"
            >{{ config.sidebar.contact.phone }}</a
          >
        </li>
        {% endif %} {% if config.sidebar.contact.address %}
        <li class="icon solid fa-home">{{ config.sidebar.contact.address | safe }}</li>
        {% endif %}
      </ul>
    </section>

    {% if config.sidebar.copyright %}
    <footer id="footer">
      <p class="copyright">{{ config.sidebar.copyright | safe }}</p>
    </footer>
    {% endif %}
  </div>
</div>
