---
layout: "base.njk"
---

<section id="banner">
  <div class="content">
    <header>
      <h1>{{ config.home.heroHeader }}</h1>
      <p>{{ config.home.heroHeaderCaption }}</p>
    </header>
    <p>{{ config.home.heroDescription }}</p>
    {% if config.home.heroLink %}
    <ul class="actions">
      <li>
        <a href="{{ config.home.heroLink }}" class="button big"
          >{{ config.home.heroLinkText }}</a
        >
      </li>
    </ul>
    {% endif %}
  </div>
  <span class="image object">
    <img src="{{ config.home.heroImage }}" alt="{{ config.home.heroImageAlt }}" />
  </span>
</section>

{% if (collections.homeFeatures.length > 0) %}
<section>
  <header class="major">
    <h2>{{ config.home.featuresHeader }}</h2>
  </header>
  <div class="features">
    {% for feature in collections.homeFeatures %}
    <article>
      <span class="icon solid {{ feature.data.icon }}"></span>
      <div class="content">
        <h3>{{ feature.data.title }}</h3>
        <p>{{ feature.templateContent | safe }}</p>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endif %} {% if (collections.pages | featuredPages).length > 0 %}
<section>
  <header class="major">
    <h2>{{ featuredPagesHeader }}</h2>
  </header>
  <div class="posts">
    {% for page in (collections.pages | featuredPages) %}
    <article>
      <a href="{{ page.url }}" class="image"
        ><img src="{{ page.data.image }}" alt=""
      /></a>
      <h3>{{ page.data.title }}</h3>
      <p>{{ page.data.excerpt }}</p>
      {% if config.home.featuredButtonText %}
      <ul class="actions">
        <li>
          <a href="{{ page.url }}" class="button">{{ config.home.featuredButtonText }}</a>
        </li>
      </ul>
      {% endif %}
    </article>
    {% endfor %}
  </div>
</section>
{% endif %}
